<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>视频详情</title>
    <link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script th:src="@{/js/jquery-1.8.3.js}"></script>
</head>
<body style="padding-top: 70px; min-width: 700px">
<div th:replace="before/top::html" ></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <!--视频介绍-->
            <div class="panel panel-default" id="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img th:src="${course.course_pic}" class="img-responsive" style="width: 100%;">
                        </div>
                        <div class="col-sm-9">
                            <h4>[[${course.course_name}]]</h4>
                            <p>学科类型：[[${course.coursetype_name}]]</p>
                            <!--<p>导演：王晶 关智耀 编剧：王晶</p>
                            <p>类型：动作 犯罪</p>
                            <p>语言：粤语 / 汉语普通话地区：香港 中国大陆片长：128 分</p>
                            <p>年份：2017 又名：卧虎2 跛豪 Chasing the Dragon</p>-->
                        </div>
                    </div>
                    <div>
                        <h4>课程简介</h4>
                        <p>[[${course.course_detail}]]</p>
                    </div>
                </div>
            </div>
            <!--视频播放器-->
            <!--class="video-js"-->
            <video id="video"  controls  style="display: none;width: 750px" data-setup="{}">
                <source th:src="${course.course_link}" type="video/mp4"></source>
                <source src="myvideo.ogv" type="video/ogg"></source>
                <source src="myvideo.webm" type="video/webm"></source>
                <object width="" height="" type="application/x-shockwave-flash" data="myvideo.swf">
                    <param name="movie" value="myvideo.swf" />
                    <param name="flashvars" value="autostart=true&amp;file=myvideo.swf" />
                </object> 当前浏览器不支持 video直接播放，点击这里下载视频：
                <a href="myvideo.webm">下载视频</a>
            </video>

            <button class="btn btn-block btn-success btn-lg" onclick="show()">播放<span class="glyphicon glyphicon-expand"></span></button>
            <button class="btn btn-block btn-success btn-lg" style="background-color: darksalmon" th:onclick="gofocus('[[${course.course_id}]]')">
                关注
                <img th:src="@{/images/收藏.png}"  style="width: 15px;height: 15px;margin-bottom: 5px"/>
            </button>
            <p th:text="${msg}"></p>



            <script>
                function show() {

                    document.getElementById("panel").style.display = "none";
                    document.getElementById("video").style.display = "block";

                    document.querySelector('video').load();
                    $.ajax({
                        url: "/edusystem/addHistory",
                        type: "get",
                        data:{"course_id": [[${course.course_id}]] },
                        dataType: "json",

                    });

                    /*$.ajax({
                        url: "/edusystem/admin/delcourse",
                        type: "post",
                        data:{"course_id":data.course_id},
                        dataType: "json",
                    });*/
                }
            </script>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default" style="border: 0;">

                   <div class="panel-body" style="border: 0;">
                       <h3>相关</h3>
                       <div class="row" th:each="course : ${courseList}">
                           <a th:href="'/edusystem/user/coursedetail?course_id='+${course.course_id}">
                           <div class="col-sm-5">
                               <img th:src="${course.course_pic}" class="img-responsive" style="width: 120px;height: 67px">
                           </div>
                           <div class="col-sm-7">
                               <p>[[${course.course_name}]]</p>
                               <p>[[${course.coursetype_name}]]</p>
                               <hr>
                           </div>
                           </a>
                       </div>
                   </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function gofocus(cno) {
        window.location.href = "/edusystem/addFocus?course_id=" + cno;
    }
</script>


</body>
</html>