<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>


</head>
<body th:background="@{/images/bg1.jpg}">
<div class="welcome">
    <p id="title">欢迎来到DYY教育，请完成登录</p>
</div>
<div class="login">
    <form th:action="@{/user/login}" method="post" th:object="${user}"
               name="loginform">

        <h1><a th:href="@{/index}"><img id="logo" th:src="@{/images/thelogo.png}"></a></h1>
        <p></p>
        <div class="msg-warn hide"><b></b>
            <p>公共场所不建议自动登录，以防账号丢失</p></div>
        <p><input type="text" name="user_email" th:field="*{user_email}" placeholder="E-Mail"></p>
        <p><input type="password" name="user_pwd" th:field="*{user_pwd}" placeholder="密码"></p>
        <p><input type="submit" name="kk" value="登  录"></p>

        <p class="txt"><a class="" th:href="@{/user/toregister}">免费注册</a><a href="#">忘记密码？</a></p>
    </form>
    <p th:text="${msg}"></p>

</div>


</body>
</html>