<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>
    <div th:fragment="top">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #62B1F9; height: 70px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/index}">
                        <img id="thelogo" th:href="@{/index}" th:src="@{/images/thelogo.png}" height="50px" />
                    </a>





                </div>
                <div class="collapse navbar-collapse" id="top-navbar-collapse">
                    <form class="navbar-form navbar-center" role="search" method="get" action="#">
                        <div class="form-group" style="width: 40%">
                            <input type="text" name="search" class="form-control" placeholder="搜索" style="border-radius: 20px; display: inline; width: 95%">
                            <button type="submit" style="margin-left: -45px; border: 0; background-color: white;">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </form>

                    <!-- ------------登陆部分------------ -->
                    <div class="top_content_right" style="margin-top: -20px">
                        <p class="p1">
                            <!--TODO-->
                            <a th:if="${session.user==null}" style="border-right: 1px solid;padding-right: 10px;" th:href="@{/user/tologin}" id="login">登陆</a>
                            <a th:if="${session.user==null}" style="margin-left: 5px;" th:href="@{/user/toregister}">注册</a>

                            <a th:if="${session.user!=null}" style="border-right: 1px solid;padding-right: 10px;">[[${session.user.getUser_email()}]]</a>
                            <a th:if="${session.user!=null}" style="margin-left: 5px;" th:href="@{/user/logout}">注销</a>


                        </p>
                        <div style="margin-top:0px;margin-left: 10px;" class="fl">
                            <a th:href="@{/history}" >
                                <img style="height: 30px;" th:href="@{/history}" th:src="@{/images/个人中心.png}" />
                            </a>
                            <a  th:href="@{/focus}" >
                                <img style="height: 30px;" th:href="@{/focus}" th:src="@{/images/收藏.png}" />
                            </a>
                            <!--<a href="#">-->
                                <!--<img style="height: 30px;" th:src="@{/images/购物车.png}" />-->
                            <!--</a>-->
                        </div>


                    </div>


                </div>



            </div>
        </nav>
    </div>
</body>
</html>